Python Basics

In [1]:
print("Hello World")
print("I love India")

Hello World
I love India

In [8]:
name = "Ravi"
age = 45
price = 25.45
print(name)
print(age)
print(price)
print(type(name))
print(type(age))
print(type(float))

Ravi
45
25.45
<class 'str'>
<class 'int'>
<class 'type'>

In [3]:
name = "Varun"
age = 65
marks = 80
price = 25.56
print(type(name))
print(name)
print(type(age))
print(age)
print(type(marks))
print(marks)
print(type(price))
print(price)

<class 'str'>
Varun
<class 'int'>
65
<class 'int'>
80
<class 'float'>
25.56

In [9]:
print(23)
print(58)

23
58

In [10]:
print(23+58)

81

In [15]:
name = ("Ravindra Shelke")
age = 45
skill = ("master")
print (name,age,skill)

Ravindra Shelke 45 master

In [6]:
Col = ("Pune University:")
Course = ("MBA:")
skill = ("master")
print(Col, Course, skill)

Pune University: MBA: master

In [25]:
print("name: ",name)
print("age: ", age)
print("skill:",skill)

name:  Ravindra Shelke
age:  45
skill: master

In [7]:
print("Col:", Col)
print("Course:", Course)
print("skill:", skill)

Col: Pune University:
Course: MBA:
skill: master

In [26]:
bool(age)

True

In [27]:
bool(name)

True

In [31]:
age = 45
old = False
a = None
print(type(old))
print(type(age))
print(type(a))

<class 'bool'>
<class 'int'>
<class 'NoneType'>

In [9]:
a = 20
b = 50
sum = a+b
diff = b-a
print(sum)
print(diff)

70
30

In [19]:
"""
My name is Ravindara
leaving in Old sangavi
I am working professional
"""
print(sum, diff)

70 30

Types of operators

Arithmetic Operators (+,-,*,/,%,**)

In [41]:
print (a+b)
print (a-b)
print (a*b)
print (a/b)
print (a%b)
print (a**b)

70
-30
1000
0.4
20
112589990684262400000000000000000000000000000000000000000000000000

In [20]:
a = 2
b = 3
print (a+b) #addition
print (a-b) #subtraction
print (a*b) #multiplication
print (a/b) #division
print (a%b) #remainder
print (a**b) #square

5
-1
6
0.6666666666666666
2
8

Q.Write a program to input 2 numbers & print their sum.

In [45]:
x = 5
y = 3
sum = input (x + y)

8 4

In [46]:
first = int(input ("enter first:"))
second = int(input ("enter second:"))
print ("sum = ", first + second)

enter first: 5
enter second: 6

sum =  11

In [22]:
a = int(input("enter first:"))
b = float(input("enter second:"))
print("sum =", a + b)

enter first: 987
enter second: 476

sum = 1463.0

In [24]:
a = int(input("enter first:"))
b = float(input("enter second:"))
print("sum =", a + b)

enter first: 900
enter second: 800.566

sum = 1700.566

In [47]:
a = int(input("a1:"))
b = int(input("b1:"))
print("sum =", a + b)

a1: 50
b1: 25

sum = 75

Q.Write a program to input side of a square & print its area.

In [56]:
side = float(input("enter square side:"))

print("area=", side*side)

enter square side: 4

area= 16.0

In [57]:
side = float(input("enter square side:"))

print("area=", side**2)

enter square side: 4

area= 16.0

Q. Write a program to input 2 floating point numbers & print their average.

In [58]:
a = float(input("enter firts:"))
b = float(input("enter second:"))
print("average=", (a+b)/2)

enter firts: 2
enter second: 4

average= 3.0

In [26]:
X = float(input("float 1:"))
Y = float(input("float 2:"))
Z = int(input("Int 1:"))
print("Average=", (X+Y)/2)

float 1: 50
float 2: 40
Int 1: 25

Average= 45.0

Q. Write a program to input 2 int numbers, a and b.
Print True if a is greater than or equal to b. If not print False.

In [62]:
a = int(input("enter first:"))
b = int(input("enter second:"))
print (a>=b)

enter first: 6
enter second: 9

False

In [37]:
A = int(input("Enter your value1: "))
B = int(input("Enter your value2:"))
print(A+B)

Enter your value1:  4
Enter your value2: 5

9

In [38]:
A = input("Enter your value1: ")
B = input("Enter your value2:")
print(A+B)

Enter your value1:  5
Enter your value2: 4

54

In [41]:
for i in range (1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

**easy way to understand Python questions**. Letâ€™s break this down into a simple method you can follow whenever you see a Python problem:

---

## ðŸª„ Step-by-Step Method

### 1. **Read the Question Carefully**
- Identify **keywords**: e.g., "loop", "list", "function", "string".
- Spot what the question is asking you to **do** (print, calculate, store, repeat).

ðŸ‘‰ Example:  
*"Write a program to print numbers from 1 to 10."*  
- Keyword: **print**  
- Task: **numbers from 1 to 10**

---

### 2. **Break It Into Small Tasks**
- Divide the problem into **mini steps**.  
- Ask yourself:  
  - What input is needed?  
  - What output is expected?  
  - Which Python concept fits here (loop, if, function)?

ðŸ‘‰ Example:  
- Step 1: Start from 1  
- Step 2: Go up to 10  
- Step 3: Print each number

---

### 3. **Match With Python Concepts**
- **Loop** â†’ repeat actions  
- **Condition** â†’ check something  
- **Function** â†’ organize code  
- **List/Dict** â†’ store multiple values  

ðŸ‘‰ Example:  
Numbers 1 to 10 â†’ needs a **loop**.

---

### 4. **Write the Code**
```python
for i in range(1, 11):
    print(i)
```

---

### 5. **Test and Understand**
- Run the code.  
- Check if the output matches the question.  
- If not, adjust step by step.

---

## ðŸŽ¯ Quick Tips
- **Translate the question into plain English first** â†’ "What exactly do I need to do?"  
- **Think of real-life analogy** â†’ If it says "loop", imagine repeating a daily routine.  
- **Practice small examples** â†’ Donâ€™t jump into big problems immediately.  

---

ðŸ‘‰ Ravindra, would you like me to create a **simple checklist** (like a mini formula) that you can use every time you face a Python question, so you donâ€™t get stuck?